.boardContainer {
  table {
    border-collapse: separate;
    border-spacing: 0;
  }

  td {
    background-color: var(--primary);
    border: 1px solid #000;
    height: 64px;
    padding: 0;
    position: relative;
    transition: 0.5s;
    width: 64px;
  }

  td.playable:hover {
    background-color: var(--playable);
    cursor: pointer;
  }
}

.piece {
  height: 60px;
  width: 60px;
  padding: 2px;
  perspective: 300px;
}

.pieceCoin {
  position: relative;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;

  &.black {
    transform: rotateY(0deg);
  }

  &.white {
    transform: rotateY(180deg);
  }
}

.pieceFace {
  position: absolute;
  inset: 4px;
  border-radius: 50%;
  backface-visibility: hidden;
  filter: drop-shadow(3px 3px 2px #0004);

  &.black {
    background-color: #000;
  }

  &.white {
    background-color: #fff;
    transform: rotateY(180deg);
  }
}
