:root {
  --primary: #486;
  --playable: #cb6;
  --history: #ede6c2;
}

.game-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .board-container,
  .history-container {
    border: 6px solid #444;
    border-radius: 2px;
    box-shadow: 3px 3px 6px #888;
    font-family: sans-serif;
    font-size: 14px;
    margin: 20px;
  }

  .board-container {
    table {
      border-collapse: separate;
      border-spacing: 0;

      td {
        background-color: var(--primary);
        border: 1px solid #000;
        height: 64px;
        padding: 0;
        position: relative;
        transition: 0.5s;
        width: 64px;

        &.playable {
          &:hover {
            background-color: var(--playable);
            cursor: pointer;
          }
        }

        div {
          height: 60px;
          width: 60px;
          padding: 2px;

          svg {
            filter: drop-shadow(3px 3px 2px #0004);
          }
        }
      }
    }
  }

  .history-container {
    max-height: 512px;
    overflow: scroll;
    width: 400px;

    table {
      border-collapse: separate;
      border-spacing: 0;
      width: 100%;

      th,
      td {
        font-size: 16px;
        text-align: center;
        padding: 10px;
        height: 24px;
        width: 50%;
      }

      thead {
        th {
          background-color: var(--primary);
          color: #fff;
          top: 0px;
        }
      }

      tbody {
        tr td {
          background-color: var(--history);
        }

        tr:nth-child(even) td {
          filter: brightness(80%);
        }
      }
    }
  }
}
